<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2009-2013</p>
                        <div class="h5">Bachelor Degree</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Bachelor of Engineering</div>
                                <h4 class="category">Government Technology University</h4>
                                <ul>
                                    <li> Government Technology University in Yangon,Myanmar </li>
                                        <!-- <li>Completed B.E in Information Technology with <b>8.1 CGPA</b>.</li> -->
                                        <li>Completed B.E in Information Technology</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2015-2016</p>
                        <div class="h5">DIPLOMA</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Diploma in Infocomm</div>
                            <h4 class="category">PSB Academy Singapore</h4>
                            <ul>
                                    <li>Completed Diploma in Infocomm</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>                                               